// colors
$c-black: #000;
$c-white: #fff;
$c-danger: #ad2b0e;
$c-dark-blue: #66818c;
$c-light-blue: #ccdbe0;

$primary-color: $c-black;
$secondary-color: $c-white;
$board-color: $c-dark-blue;
$board-color-active: $c-light-blue;
