.rm-board {
  display: grid;
  border-top: 1px solid #000;
  border-left: 1px solid #000;

  .rm-field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
    padding: 0;
  }

  .rm-field--active {
    background-color: #fff;
  }

  .ic-mine {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    fill: #000;
    background-color: red;
  }
}
